@font-face {
    font-family: 'Overpass';
    src: url('/static/overpass/overpass-regular.otf') format('opentype')
}

@font-face {
    font-family: 'Overpass';
    font-weight: bold;
    src: url('/static/overpass/overpass-bold.otf') format('opentype')
}

@font-face {
    font-family: 'Overpass';
    font-weight: lighter;
    src: url('/static/overpass/overpass-light.otf') format('opentype')

}

@font-face {
    font-family: 'Questrial';
    src: url('/static/Questrial-Regular.ttf') format('truetype');
}

html.dark {
    --bg: #181818;
    --text: #dfdfdf;
    --fg-bg: #1e1e1e;
    --bd: #3a3a3a;
    --li-hv: #212121;
    --logo: 0.9;
    --switch: #3d3d3d;
}

html.light {
    --bg: #f5f5f5;
    --text: #3d3d3d;
    --fg-bg: #ffffff;
    --bd: #b4b4b4;
    --li-hv: #dddddd;
    --logo: 0.25;
    --switch: #cccccc;
}

html.nature {
    --btn: #2c7700;
    --btn-hover: #2dbd02;
    --btn-active: #2cb900;
    --handle: #47bf00;
    --glow: rgba(59, 179, 27, 0.4);
    --grad: linear-gradient(to right, #154a00, #47bf00);
    --hl-txt: #3a9a01;
    --hl-op: #399a0123;
}

html.acnh {
    --hl-txt: #179e88;
    --hl-op: #5adbc534;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: 'Overpass', sans-serif;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
}

.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    background-image: url(/static/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .25;
}

.link {
    color: var(--hl-txt);
    cursor: pointer;
}

.link:hover {
    opacity: .5;
}

.app {
    padding: 25px;
    width: calc(100vw - 330px);
    max-width: 1130px;
}

.app-wrapper {
    display: flex;
    justify-content: center;
    margin-left: 262px;
}

.tabs {
    width: 100%;
    height: calc(100% - 84px);
}

.section-name {
    margin-left: 25px;
    font-size: 34px;
}

.hidden {
    display: none !important;
}

.err-msg-container {
    display: flex;
    justify-content: center;
    transform: none;
    transition: .2s;
}

.err-msg-container.hidden {
    transform: translateY(50px);
}

.error-msg {
    width: auto;
    max-width: calc(100vw - 250px);
    height: auto;
    background: #f04f43;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: fixed;
    margin-top: 20px;
    padding: 10px;
    color: #ffffff;
}

.top-bar-inner-container .pj-info {
    display: none;
}

@media (max-width: 760px) {
    .app-side-bar {
        left: -270px !important;
    }

    .app-side-bar.active {
        left: 0 !important;
    }

    .top-bar-inner-container {
        justify-content: space-between !important;
        margin: 0 !important;
    }

    .top-bar-inner-container .pj-info {
        display: flex;
        padding: 15px !important;
    }

    .side-bar {
        background: rgba(255, 255, 255, .6) !important;
    }

    .menu-appear.active {
        opacity: 1;
        pointer-events: all;
    }

    .app-wrapper {
        margin-left: 0px;
    }

    .app {
        max-width: none;
        width: 100vw;
        margin-top: 60px;
        padding: 0;
    }

    .top-bar {
        height: 65px !important;
        background: rgba(255, 255, 255, .6);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        box-shadow: 0px 1px 5px rgba(0, 0, 0, .15);    
        pointer-events: all !important;
    }

    .pj-info i {
        margin-right: 10px;
        font-size: 30px;
        cursor: pointer;
    }

    .project-icon {
        width: 24px !important;
        height: 34px !important;
    }

    .pj-info span {
        font-size: 22px !important;
        margin-left: 5px !important;
    }

    .top-button span {
        display: none;
    }

    .top-button i {
        font-size: 30px !important;
        margin-right: 15px !important;
    }

    .bot-avatar {
        width: 90px !important;
        min-width: 90px !important;
        height: 90px !important;
    }

    .bot-info {
        font-size: 16px !important;
    }

    .section-name {
        margin-top: 35px;
        font-size: 28px;
    }

    .guild-item:hover {
        background: none !important;
    }

    .guild-item {
        height: 75px !important;
    }

    .guild-icon {
        width: 50px !important;
        height: 50px !important;
        min-width: 50px !important;
    }

    .guild-name {
        font-size: 20px !important;
    }

    .owner-avatar {
        width: 20px !important;
        height: 20px !important;
        min-width: 20px !important;
    }

    .owner-name {
        font-size: 12px !important;
    }

    .member-avatar {
        width: 50px !important;
        height: 50px !important;
        min-width: 50px !important;
    }

    .member-username {
        font-size: 20px !important;
    }

    .member-bold {
        font-size: 12px !important;
    }
}

/* top bar */
.top-bar {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 3;
    pointer-events: none;
}

.top-bar-inner-container {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 15px;
    justify-content: flex-end;
}

.pj-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 25px;
}

.pj-info span {
    font-weight: bold;
    font-family: 'Questrial', sans-serrif;
    font-size: 26px;
    margin-left: 15px
}

.beta-tag {
    transform: translateY(2px);
    margin-left: 12px;
    font-size: 14px;
    text-transform: uppercase;
    border: solid 2px var(--text);
    padding: 3px 6px 0px 6px;
    border-radius: 25px;
    opacity: .75;
}

.project-icon {
    width: 25px;
    height: 41px;
    background-image: url('/static/shinka.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 7px 0 0;
    filter: brightness(var(--logo));
}

.top-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
    pointer-events: all;
}

.top-button:hover {
    color: var(--hl-txt);
    transform: scale(1.075);
}

.top-button i {
    font-size: 25px;
}

.top-button span {
    margin-top: 4px;
    margin-left: 8px;
    font-size: 16px;
}

.top-button-container {
    display: flex;
}

/* sidebar */
.side-bar {
    width: 260px;
    height: 100vh;
    background: rgba(255, 255, 255, .25);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 1px 0px 5px rgba(0, 0, 0, .15);
    position: fixed;
    z-index: 3;
}

.app-side-bar {
    transition: .25s;
    z-index: 5;
    position: fixed;
}

.menu-appear {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,.1);
    z-index: 4;
    transition: .25s;
    opacity: 0;
    pointer-events: none;
}

.side-bar-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: auto;
    height: calc(100% - 72px);
}

.side-bar-inner-container::-webkit-scrollbar {
    display: none;
}

.side-bar button {
    width: 155px;
    height: 40px;
    margin-top: 20px;
}

.type-separator {
    width: 160px !important;
    min-height: 1px;
    background: var(--bd);
    margin: 0 10px;
    border-radius: 10px;
}

.item-sidebar {
    display: flex;
    width: 260px;
    height: 65px;
    align-items: center;
    cursor: pointer;
}

.item-sidebar.active {
    background-color: var(--hl-op);
    color: var(--hl-txt);
    cursor: default;
}

.item-sidebar:hover {
    /* background-color: var(--hl-op); */
    color: var(--hl-txt)
}

.item-sidebar:active {
    opacity: 0.75;
    color: var(--hl-txt)
}

.active-indicator {
    width: 4px;
    height: 65px;
    background: var(--hl-txt);
    position: relative;
    display: none;
    border-radius: 0 10px 10px 0;
}

.item-sidebar i {
    margin: 0 25px;
    font-size: 30px;
}

.item-sidebar.active i {
    margin: 0 25px 0 21px;
}

.item-sidebar.active span {
    font-weight: bold;
}

.item-sidebar span {
    font-size: 20px;
    line-height: 1;
    transform: translateY(1px);
}

.shinka-info {
    font-size: 12px;
    opacity: .5;
    padding: 15px;
}

/* overview */
.overview-flex {
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.bot-avatar {
    width: 120px;
    height: 120px;
    min-width: 120px;
    background-color: var(--fg-bg);
    background-size: cover;
    border-radius: 100px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .25);
}

.bot-avatar-hover {
    background: rgba(0,0,0,.35);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    height: 100%;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s;
}

.avatar-hover-txt {
    text-align: center;
    color: #ffffff;
}

.bot-info {
    margin-left: 30px;
    font-size: 20px;
}

.info-bold {
    font-weight: bold;
}

.hidden-input:hover {
    cursor: text;
    opacity: .5;
}

.info-input {
    background: var(--fg-bg);
    border: solid 1px var(--bd);
    color: var(--text);
    padding: 5px 10px;
    font-family: 'Overpass', sans-serif;
    border-radius: 40px;
    outline: none;
}

.status-indicate {
    display: flex;
    align-items: center;
}

.status-indicate span {
    margin-top: 4px;
}

.status-icon, .status-icon-effect {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #747f8d;
    margin-right: 15px;
}

.status-icon.online, .status-icon-effect.online {
    background: #43b581;
}

.status-icon-effect {
    position: absolute;
    opacity: .75;
    transform: scale(1);
}

.status-icon-effect.online {
    animation: radar 4s infinite;
    animation-delay: 2s;
}

@keyframes radar {
    0% {
        transform: scale(1);
        opacity: .75;
    }
    25% {
        transform: scale(2);
        opacity: 0;
    }
    50% {
        transform: scale(2);
        opacity: 0;
    }
    75% {
        transform: scale(2);
        opacity: 0;
    } 
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

/* guilds */
.guild-item {
    width: calc(100% - 30px);
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: 30px;
    cursor: pointer;
}

.guild-item:hover {
    background: var(--li-hv);
}

.guild-item:not(:last-child) {
    border-bottom: solid 1px var(--bd);
}

.guild-icon {
    width: 65px;
    height: 65px;
    min-width: 65px;
    background-color: var(--fg-bg);
    border-radius: 100px;
    margin: 0 20px 0 0;
    background-size: cover;
}

.guild-name {
    font-size: 24px;
}

.guild-info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 30px;
}

.guild-owner {
    display: flex;
    align-items: center;
}

.owner-avatar {
    width: 30px;
    height: 30px;
    min-width: 30px;
    background-color: var(--fg-bg);
    border-radius: 30px;
    background-size: cover;
}

.owner-name {
    font-size: 14px;
    margin: 0 10px;
    opacity: .8;
}

.guilds, .members {
    margin-top: 40px;
}

.guilds h2, .members h2 {
    margin-left: 30px;
    margin-bottom: 0px;
}

/* members list */
.member-item {
    width: calc(100% - 30px);
    height: auto;
    margin-left: 20px;
}

.member-item:not(:last-child) {
    border-bottom: solid 1px var(--bd);
}

.members-container {
    padding: 10px;
    display: flex;
    align-items: center;
}

.member-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.member-avatar {
    width: 60px;
    height: 60px;
    min-width: 60px;
    background-color: var(--fg-bg);
    background-size: cover;
    border-radius: 50px;
    margin-right: 20px;
}

.member-username {
    font-size: 22px;
}

.member-bold {
    font-weight: bold;
    font-size: 14px;
    opacity: .75;
}

.member-bold span {
    font-weight: normal;
}