<!DOCTYPE html>
<html class="light acnh">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shinka</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="bg"></div>
        <div class="menu-appear"></div>
        <div class="top-bar">
            <div class="top-bar-inner-container">
                <div class="pj-info">
                    <i class="material-icons mobile-menu" v-on:click="openclose">menu</i>
                    <div class="project-icon"></div>
                    <span>Shinka</span>
                </div>
                <div class="nav-top-buttons">
                    <div class="top-button-container">
                        <label class="top-button" onclick="window.open('https://discordapp.com/oauth2/authorize?client_id=678413363759284245&permissions=8&scope=bot')">
                            <i class="material-icons">add</i>
                            <span>Add Shinka</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-side-bar">
            <div class="side-bar">
                <div class="pj-info">
                    <div class="project-icon"></div>
                    <span>Shinka</span>
                    <div class="beta-tag">Beta</div>
                </div>
                <div class="side-bar-inner-container">
                    <div class="nav-buttons">
                        <side-buttons v-for="item in section1" v-bind:button="item" v-bind:key="item.id"></side-buttons>
                    </div>
                    <div v-bind:message="ver" class="shinka-info">Shinka {{ver}} by projsh_<br>Discord is a trademark of Discord Inc. Shinka is in no way affiliated with Discord<br>Background design created by <span class="link" onclick="window.open('https://www.deviantart.com/jotaauvei')">jotaauvei</span></div>
                </div>
            </div>
        </div>
        <div class="app-wrapper">
            <div class="app">
                <div class="err-msg-container hidden">
                    <div class="error-msg" v-bind:message="errMsg">{{errMsg}}</div>
                </div>
                <h1 class="section-name" v-bind:message="sectionName">{{ sectionName }}</h1>
                <div class="tabs">
                    <div class="section overviewTab">
                        <div class="overview-flex">
                            <div v-on:mouseover="hover" v-on:mouseleave="leave" class="bot-avatar">
                                <input type="file" id="botAvatarUpdate" class="hidden" accept="image/*" onchange="updateAvatar(event)">
                                <label class="bot-avatar-hover hidden" for="botAvatarUpdate">
                                    <span class="avatar-hover-txt">Change Avatar</span>
                                </label>
                            </div>
                            <div class="bot-info">
                                <div v-bind:message="name" class="info-sect"><span class="info-bold">Name: </span>
                                    <span class="hidden-input" onclick="hideInput(event)">{{name.name}}</span>
                                    <input class="hidden info-input" onchange="updateUsername(event)" type="text" value="Bot">
                                </div>
                                <div v-bind:message="name" class="info-sect"><span class="info-bold">Discriminator: </span>#{{name.discriminator}}</div>
                                <div v-bind:message="id" class="info-sect"><span class="info-bold">ID: </span>{{id}}</div>
                                <div class="status-indicate">
                                    <div class="status-icon"></div>
                                    <div class="status-icon-effect"></div>
                                    <span v-bind:message="online">{{online}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="guilds">
                            <h2>Guilds</h2>
                            <guilds v-for="item in guilds" v-bind:guild="item" v-bind:key="item.id"></guilds>
                        </div>
                    </div>
                    <div class="section commandsTab hidden"></div>
                    <div class="section helpTab hidden"></div>
                    <div class="section guildTab hidden">
                        <div class="overview-flex">
                            <div class="bot-avatar guild-icon-main"></div>
                            <div class="bot-info guild">
                                <div v-bind:message="id" class="info-sect guild"><span class="info-bold">ID: </span>{{id}}</div>
                                <div v-bind:message="owner" class="info-sect guild"><span class="info-bold">Owner: </span>{{owner.name}}</div>
                                <div v-bind:message="owner" class="info-sect guild"><span class="info-bold">Owner ID: </span>{{owner.id}}</div>
                            </div>
                        </div>
                        <div class="members">
                            <h2>Members</h2>
                            <div class="members-list">
                                <members v-for="item in members" v-bind:member="item" v-bind:key="item.id"></members>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/main.js"></script>
    </body>
</html>